body {
  background-color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  width: 400px;
  height: 50px;
  background-color: #00d1ae;
  /* margin:10px 5px 1px 15px; */
  margin: 10px;
}
.menu:hover {
  background-color: purple;
}
.content {
  width: 400px;
  height: 200px;
  background-color: red;
  /* border-width: 5px;
  border-color: purple;
  border-style: dashed; */
  border: 1px solid purple;
  /* padding: 20px 10px 30px; */
  padding-top: 5px;
  padding-left: 50px;
}
h2 {
  color: hotpink;
  font-style: oblique;
  font-weight: 800;
  text-transform: lowercase;
  text-decoration: overline;
  text-align: center;
}
li {
  list-style: square inside;
}
table {
  border: 1px black solid;
  width: 350px;
  height: 150px;
}
th {
  text-align: center;
  vertical-align: top;
  padding: 20px;
}
td {
  text-align: left;
  vertical-align: bottom;
  padding: 20px;
}
tr:hover {
  color: white;
}
input {
  width: 100%;
  /* height: 75px; */
  padding: 2px;
  border: 3px solid hotpink;
  border-radius: 50px;
  background-color: black;
  color: hotpink;
  /* background-image: url("doggy.jpg");
  background-position: center; */
}
input:focus {
  outline: none;
}
input:hover {
  border: 5px dashed orange;
}
/* textarea {
  resize: none;
} */
